<?xml version="1.0" encoding="UTF-8"?>

<!-- - Sample namespace-based configuration - - $Id: applicationContext-security.xml,v 
	1.1 2010-11-10 08:23:12 vadym Exp $ -->

<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:zkc="http://www.zkoss.org/2008/zkspring/core" xmlns:zksp="http://www.zkoss.org/2008/zkspring/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security-3.0.xsd
        http://www.zkoss.org/2008/zkspring/core
        http://www.zkoss.org/2008/zkspring/core/zkspring-core.xsd
        http://www.zkoss.org/2008/zkspring/security
        http://www.zkoss.org/2008/zkspring/security/zkspring-security.xsd">
	<!-- - Enable the @Secured annotation to secure service layer methods -->
	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<!-- - Secure the page per the URL pattern -->
	<http auto-config="true">
		<intercept-url pattern="/user/admin/**" access="ROLE_ADMIN" />
		<intercept-url pattern="/user/**" access="IS_AUTHENTICATED_REMEMBERED" />
		<intercept-url pattern="/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!-- use own login page rather than the default one -->
		<form-login login-page="/login.zul"
			authentication-failure-url="/login.zul?login_error=1" />
		<access-denied-handler error-page="/error/403.zul" />


		<!-- Following is list of ZK Spring Security custom filters. They needs 
			to be exactly in the same order as shown below in order to work. -->
		<custom-filter ref="zkDesktopReuseFilter" position="FIRST" />
		<custom-filter ref="zkDisableSessionInvalidateFilter"
			before="FORM_LOGIN_FILTER" />
		<custom-filter ref="zkEnableSessionInvalidateFilter"
			before="FILTER_SECURITY_INTERCEPTOR" />
		<custom-filter ref="zkLoginOKFilter" after="FILTER_SECURITY_INTERCEPTOR" />
		<custom-filter ref="zkError403Filter" after="LOGOUT_FILTER" />
	</http>

	<!-- Custom Authentication Manager -->
	<authentication-manager>
		<authentication-provider user-service-ref="userDetailsService">
			<password-encoder hash="md5" />
		</authentication-provider>
	</authentication-manager>

	<!-- Securing ZK events -->
	<zksp:zk-event login-template-close-delay="1">
		<zksp:intercept-event event="onClick" path="//**/adm_*"
			access="ROLE_ADMIN" />
		<zksp:intercept-event event="onClick" path="//**/usr_*"
			access="IS_AUTHENTICATED_REMEMBERED" />
		<zksp:intercept-event path="/**"
			access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<!-- Configuring Ajax popup login -->
		<zksp:form-login login-page="/popupLogin.zul" width="370px"
			height="325px" title="Login" />
	</zksp:zk-event>

</beans:beans>